* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.header {
    height: 95vh;
    background-image:
        linear-gradient(to right bottom, rgba(28, 209, 140, 0.8), rgba(5, 117, 89, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;
}

.header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.header__logo {
    height: 35px;
}

.header__logo:hover {
    cursor: pointer;
    animation: flash 500ms ease-in-out 3;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 60px;
}

.heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-out;
    backface-visibility: hidden;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 15px 40px;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: rgb(255, 255, 255);
    color: rgb(119, 119, 119);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 500ms;
}

.btn--white::after {
    background-color: rgb(255, 255, 255);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn--animated {
    animation: moveInBottom 500ms ease-out 750ms backwards;
}